@charset 'gb2312';

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, th {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style-type: none;
}
/*.block_home_slider {
	padding: 1px;
	position: relative;
	text-align: center;
	line-height: 0px;
	margin-right: auto;
	margin-left: auto;
} */

 /*底部小图标*/
.block_home_slider .slide {position:relative; z-index:199;}
.block_home_slider .caption { position:absolute; left:0px; right:0px; bottom:0px; background:url(../images/bg_caption.png); text-align:left;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:17px;}
.block_home_slider .caption p.title {padding-bottom:6px; font-size:15px; color:#ffffff; font-weight:bold; line-height:normal;}
.block_home_slider .flex-direction-nav a {width:25px; height:25px; margin-top:-27px; display:block; position:absolute; top:50%; background-repeat:no-repeat; background-image:url(images/sprite_arrow_2.png); text-indent:-9000px;}

.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}

.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}

.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}

.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}

.block_home_slider .flex-control-paging {padding-top:-20px; display:inline-block;  z-index:199;}

.block_home_slider .flex-control-paging li {
	margin: 0px;
	padding: 0px;
	float: left;
	overflow: hidden;
	list-style-type: none;
	 z-index:199;
} /*小按钮横排摆放*/
.block_home_slider .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(../images/sprite_nav_3.png);text-indent:-9000px; cursor:pointer;}

.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}



.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
	list-style-type: none;
}
.flexslider .slides img {width: 100%; display: block;} /*图片自适应*/
.flex-pauseplay span {text-transform: capitalize;}
