@charset "utf-8";
/* CSS Document */
body{background:#ffdb2f; color:#38a9cb;}
h4{width:100%; text-align:center; font-size: 1.6rem; margin-top:22pt;}
.rule span{margin:0 7%; font-size:1.3rem; display:block; margin-bottom: 10pt;}
p{padding:0px; margin:0px;}
.touch{margin:0 auto;}
.touch span{display: block; width:30%; height:26pt; background-color:#3ba9cc; float:left; margin-left:12%; border-radius:6px; color:#FFF; text-align:center; line-height:26pt; font-size:1.6rem;}



