<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_Name" value="mfq" />
    <contextName>${APP_Name}</contextName>
    
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/mfq-app.log</file>
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss} %5p %c:%L] [%X{device}] [%X{traceid}] [%X{orderNo}] [%X{bookId}] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss} %5p %c:%L] [%X{traceid}] [%X{orderNo}] [%X{bookId}] %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </root>

    <logger name="com.mfq.web" level="info" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="console" />

    </logger>

    <logger name="java.sql.Connection" level="debug" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="console" />

    </logger>

    <logger name="java.sql.Statement" level="debug" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="console" />

    </logger>

    <logger name="java.sql.PreparedStatement" level="debug" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>


    <appender name="Sentry" class="net.kencochrane.raven.logback.SentryAppender">
        <dsn>http://0eb589eac1cd4e4aad6f60d967ee2d1d:8933f9a5658c4a69a8fbda7428c4dd7e@app.loginsight.cn/227?options</dsn>
        <tags>tag1:value1,tag2:value2</tags>
        <!-- Optional, allows to select the ravenFactory -->
        <!--<ravenFactory>net.kencochrane.raven.DefaultRavenFactory</ravenFactory>-->
    </appender>
    <root level="warn">
        <appender-ref ref="Sentry"/>
    </root>


</configuration>