@charset "utf-8";
/* CSS Document */
/*header come*/
body{background:#f7f7f7; padding-top:2rem;}
/*register-main*/
.login-main{width:100%;margin:0 auto; background-color:#F7F7F7;}
.login-main h2{width:150px;height:142px;background:url(../../images/wx/logo.png) no-repeat center center;margin:0 auto;background-size:100% 100%; text-indent:-2000em;}
.login-main h3{width:300px;height:2px;  margin:0 auto;background-size:100% 100%;margin-top:1.2em; line-height: 0em;font-size: 16px; text-align: center; color:#BDBDBD;}
.login-main h3 span{ color:rgba(80, 70, 70, 0.82); letter-spacing:10px;}
.name_line,.phone_line{ width:44px; height:46px; position:absolute; top:0; left:0;}
.v_code{float:left; width:20%;}
.name_line img,.phone_line img { width:44px; height:44px; line-height:46px;}
.v_line{ width:30%; height:36px; line-height:36px; border-radius:5px;-moz-box-border-radius:5px;-webkit-box-border-radius:5px; border: 0px;
-o-box-border-radius:5px;-ms-box-border-radius:5px;background-color:#cc76cb; display:inline-block; float:right; color:#fff; font-size:1.2rem; cursor:pointer; margin-top:5px; text-align:center;}
.uname,.phone,.check{width:80%;height:46px; line-height:46px;background-size:100% 20%;margin:0 auto;margin-top:3em; background-color:#FFF; position:relative;}
.pwd{margin-top:2em;}
.uname input,.phone input,.check input{width:95%;height:46px; line-height:46px; border:0;font-size:1.5rem; padding-left:80px; box-sizing:border-box; color:#7C7C7C;}
.check input{ width:65%; float:left; padding-left:80px;}
.quren{width:30%; height:36px; line-height:36px; margin:0 auto; background-color:#cc76cb; color:#fff;text-align:center;margin-top:1rem;border:0;border-radius:4px; -moz-box-border-radius:4px; -webkit-box-border-radius:4px; -o-box-border-radius:4px; -ms-box-border-radius:4px; cursor:pointer; font-size:1.5rem;}

/*错误提示*/
label.error{color:red; margin-left: 20%;}

/*提示*/
.cue{ width:80%; height:20px; font-size:1rem; color:red; background-size:100% 20%;margin:0 auto; margin-top:0.5rem;}

/*footer come*/
footer{ width:100%; height:auto; margin:0 auto; text-align:center; font-size:1.2rem; color:#666; margin:100px 0 20px 0;}