body{
	margin: 0;
	text-align: center;
	padding-top: 60%;
	padding-left: 10%;
	background-image: url(http://7xlb4j.com2.z0.glb.qiniucdn.com/file-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
a{
	text-decoration: none;
	color: #472c53;
}

.size-01{
	font-family: "new-size";
	font-size: 1.5rem;
	color: white;
}
.size-02{
	color: white;
	font-size: 1rem;
	font-family: "Microsoft Yahei";
}
.a{
	background-color: #fdd47a;
	width: 70%;
	height: 2rem;
	line-height: 2rem;
	border-radius: 50px;
	font-family: "Microsoft Yahei";
	margin: 0 auto;
}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
body{
	margin: 0;
	text-align: center;
	padding-top: 60%;
	padding-left: 10%;
	background-image: url(http://7xlb4j.com2.z0.glb.qiniucdn.com/file-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
a{
	text-decoration: none;
	color: #472c53;
}
@font-face {
    /* font-properties */
    font-family: new-size;
}
.size-01{
	font-family: "new-size";
	font-size: 1.8rem;
	color: white;
}
.size-02{
	color: white;
	font-size: 1.2rem;
	font-family: "Microsoft Yahei";
}
.a{
	background-color: #fdd47a;
	width: 70%;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 50px;
	font-family: "Microsoft Yahei";
	margin: 0 auto;
	font-size: 1.2rem;
}
}