body{
	margin: 0;
	padding-top: 20%;
	background-image: url(http://7xlb4j.com2.z0.glb.qiniucdn.com/hongbao-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
a{
	text-decoration: none;
}
.box{
	width: 60%;
	margin: 30% auto;
}
.img01{
	width: 100%;
	height: auto;
}
a img{
	display: block;
	width: 80%;
	height: auto;
	margin: 0 auto;	
}
