body{
	margin: 0;
	text-align: center;
	background-image: url(http://7xlb4j.com2.z0.glb.qiniucdn.com/newguagua-bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
/*刮奖区*/
.demoBox{
	width: 82%;
	height: auto;
	margin: 32% auto;
	background-color: #fef7f0;
	border-radius: 10px;
	border: solid 1px #969696;
	overflow: hidden;
}
.top-size{
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 82%;  /*4:1*/
	height: auto;
	display: block;
	margin: 0 auto;
}
.bottom-size-box{
	position: relative;
	padding-top: 20px;
	width: 82%;
	height: auto;
	margin: 0 auto;
}
.bottom-size{
	float: left;
	width: 100%;   /*3.5:1*/
	height: auto;
}
.demoBox .demo canvas{
	margin-top: 3px;
	width: 98%;
	height: auto;
}
.demoBox .demo canvas img{
	width: 99%;
	height: auto;
}
@media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 2.5){
	body{
	margin: 0;
	text-align: center;
	background-image: url(http://7xlb4j.com2.z0.glb.qiniucdn.com/newguagua-bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
/*刮奖区*/
.demoBox{
	width: 76%;
	height: auto;
	margin: 35% auto;
	background-color: #fef7f0;
	border-radius: 10px;
	border: solid 1px #969696;
	overflow: hidden;
}
.top-size{
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 76%;  /*4:1*/
	height: auto;
	display: block;
	margin: 0 auto;
}
.bottom-size-box{
	position: relative;
	padding-top: 20px;
	width: 76%;
	height: auto;
	margin: 0 auto;
}
.bottom-size{
	float: left;
	width: 100%;   /*3.5:1*/
	height: auto;
}
.demoBox .demo canvas{
	margin-top: 3px;
	width: 98%;
	height: auto;
}
.demoBox .demo canvas img{
	width: 99%;
	height: auto;
}
}